<!-- begin projects -->
<section id="o-grupie" class="stats-clients-results">
  <div class="container">
    <div class="grid-container">
      <div class="header-card stat-card">
        <h2 class="stat-value">Liczby, klienci i rezultaty</h2>
        <p class="stat-label">
          Długofalowa współpraca, jasna komunikacja i odpowiedzialność za projekt to elementy,
          które klienci najczęściej wskazują w swoich opiniach.
        </p>
      </div>
      <div class="stat-card">
        <span class="stat-value">13+</span>
        <span class="stat-label">lat sukcesów na rynku</span>
      </div>
      <div class="stat-card">
        <span class="stat-value">290+</span>
        <span class="stat-label">zrealizowanych projektów</span>
      </div>
      <div class="stat-card">
        <span class="stat-value">60</span>
        <span class="stat-label">ekspertów gotowych pomóc</span>
      </div>
      <div class="logo-item"><img src="/images/Logo_AbakonBD_gold_normal 1.png" alt="Abakon BD"></div>
      <div class="logo-item"><img src="/images/Frame 7.png" alt="AIQLABS"></div>
      <div class="logo-item"><img src="/images/asseta-logo.png" alt="Asseta"></div>
      <div class="logo-item"><img src="/images/braciaktrans 1.png" alt="Bracia Ktrans"></div>
      <div class="logo-item"><img src="/images/codarius_logo.png" alt="Codarius"></div>
      <div class="logo-item"><img src="/images/02c_costako_transparent 1.png" alt="Content Cloud"></div>
    </div>

    <aside class="partner-banner">
      <div class="banner-left">
        <img src="/images/evoluma white 2.png" alt="Evoluma" />
        <span>Jesteśmy częścią klastra <br> technologicznego <strong>Evoluma</strong></span>
      </div>
      <a class="works-button c-button c-button--secondary c-button--small" href="https://evoluma.pl/">Dowiedz się więcej</a>
    </aside>
  </div>
</section>

<!-- end projects -->